.tabbar {
  overflow-x: auto;
  white-space: nowrap;
  padding: 8px;
  border-bottom: 1px solid rgba(#000,.3);
  > li {
    display: inline-block;
    position: relative;
    &:not(:last-child) {
      margin-right: 8px;
    }
    >a {
      &.active {
        color: dodgerblue;
      }
    }
    .indicator {
      border: 1px solid dodgerblue;
      position: absolute;
      left: 50%;
      bottom: -4px;
      transform: translateX(-50%);
      width: 100%;
    }
  }
}
